PORT=3000
NODE_ENV=development

# Database Settings
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=kaybiz_db

# Security Settings
JWT_SECRET=super-secret-key-kaybiz-total-gestion-1234
JWT_EXPIRES_IN=24h
